body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0,0%,90%);
}
#myH1{
    font-size: 3em;
    font-family: "Arial",sans-serif;
    color: hsl(0,0%,20%);
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid;
    border-radius: 20px;
    padding: 30px;
    background-color: white;
}
#display{
    font-size: 6em;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0, 0%, 25%);
    text-shadow: 2px 2px 2px hsla(0,0%,0%,0.70);
    margin-bottom: 25px;
}
#control button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 10px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}
#start-btn{
    background-color: hsl(113, 89%, 30%);
}
#start-btn:hover{
    background-color: hsl(113, 89%, 17%);
}
#stop-btn{
    background-color: hsl(0, 88%, 40%);
}
#stop-btn:hover{
    background-color: hsl(0, 88%, 29%);
}
#reset-btn{
    background-color: hsl(189, 100%, 27%);
}
#reset-btn:hover{
    background-color: hsl(189, 100%, 20%);
}